<section class="d-flex">
    {{> sidebar2 }}

    <section class="container m-5 py-4 bg-white rounded shadow">
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex justify-content-between align-items-center my-2">
                    <h5>
                        Vouchers: 10
                    </h5>
                </div>
                <div class="scrollable">
                    <div class="d-flex bg-secondary-subtle rounded m-2 px-4 align-items-center">
                        <img alt="Gift Voucher Image" height="100"
                            src="https://storage.googleapis.com/a1aa/image/YCQEhLg8i0atLNdzFlpv8FivaJyeBf0UOhKA3c2jOcKpDp5TA.jpg"
                            width="150" />
                        <div class="border-start mx-3 bg-primary" style="height: 120px">
                        </div>
                        <div>
                            <p class="mb-1">
                                Voucher type: Gift Voucher
                            </p>
                            <p class="mb-1">
                                Discount: 50% off
                            </p>
                            <p class="mb-1">
                                Validity: Until December 2050
                            </p>
                            <p class="mb-1">
                                Application: Valid on all theaters
                            </p>
                        </div>
                    </div>
                    <div class="d-flex bg-secondary-subtle rounded m-2 px-4 align-items-center">
                        <img alt="Gift Voucher Image" height="100"
                            src="https://storage.googleapis.com/a1aa/image/YCQEhLg8i0atLNdzFlpv8FivaJyeBf0UOhKA3c2jOcKpDp5TA.jpg"
                            width="150" />
                        <div class="border-start mx-3" style="height: 120px; border-width: 5px; border-color: blue;">
                        </div>
                        <div>
                            <p class="mb-1">
                                Voucher type: Gift Voucher
                            </p>
                            <p class="mb-1">
                                Discount: 50% off
                            </p>
                            <p class="mb-1">
                                Validity: Until December 2050
                            </p>
                            <p class="mb-1">
                                Application: Valid on all theaters
                            </p>
                        </div>
                    </div>
                    <div class="d-flex bg-secondary-subtle rounded m-2 px-4 align-items-center">
                        <img alt="Gift Voucher Image" height="100"
                            src="https://storage.googleapis.com/a1aa/image/YCQEhLg8i0atLNdzFlpv8FivaJyeBf0UOhKA3c2jOcKpDp5TA.jpg"
                            width="150" />
                        <div class="border-start mx-3" style="height: 120px; border-width: 5px; border-color: blue;">
                        </div>
                        <div>
                            <p class="mb-1">
                                Voucher type: Gift Voucher
                            </p>
                            <p class="mb-1">
                                Discount: 50% off
                            </p>
                            <p class="mb-1">
                                Validity: Until December 2050
                            </p>
                            <p class="mb-1">
                                Application: Valid on all theaters
                            </p>
                        </div>
                    </div>
                    <div class="d-flex bg-secondary-subtle rounded m-2 px-4 align-items-center">
                        <img alt="Gift Voucher Image" height="100"
                            src="https://storage.googleapis.com/a1aa/image/YCQEhLg8i0atLNdzFlpv8FivaJyeBf0UOhKA3c2jOcKpDp5TA.jpg"
                            width="150" />
                        <div class="border-start mx-3" style="height: 120px; border-width: 5px; border-color: blue;">
                        </div>
                        <div>
                            <p class="mb-1">
                                Voucher type: Gift Voucher
                            </p>
                            <p class="mb-1">
                                Discount: 50% off
                            </p>
                            <p class="mb-1">
                                Validity: Until December 2050
                            </p>
                            <p class="mb-1">
                                Application: Valid on all theaters
                            </p>
                        </div>
                    </div>
                    <div class="d-flex bg-secondary-subtle rounded m-2 px-4 align-items-center">
                        <img alt="Gift Voucher Image" height="100"
                            src="https://storage.googleapis.com/a1aa/image/YCQEhLg8i0atLNdzFlpv8FivaJyeBf0UOhKA3c2jOcKpDp5TA.jpg"
                            width="150" />
                        <div class="border-start mx-3" style="height: 120px; border-width: 5px; border-color: blue;">
                        </div>
                        <div>
                            <p class="mb-1">
                                Voucher type: Gift Voucher
                            </p>
                            <p class="mb-1">
                                Discount: 50% off
                            </p>
                            <p class="mb-1">
                                Validity: Until December 2050
                            </p>
                            <p class="mb-1">
                                Application: Valid on all theaters
                            </p>
                        </div>
                    </div>
                    <div class="d-flex bg-secondary-subtle rounded m-2 px-4 align-items-center">
                        <img alt="Gift Voucher Image" height="100"
                            src="https://storage.googleapis.com/a1aa/image/YCQEhLg8i0atLNdzFlpv8FivaJyeBf0UOhKA3c2jOcKpDp5TA.jpg"
                            width="150" />
                        <div class="border-start mx-3" style="height: 120px; border-width: 5px; border-color: blue;">
                        </div>
                        <div>
                            <p class="mb-1">
                                Voucher type: Gift Voucher
                            </p>
                            <p class="mb-1">
                                Discount: 50% off
                            </p>
                            <p class="mb-1">
                                Validity: Until December 2050
                            </p>
                            <p class="mb-1">
                                Application: Valid on all theaters
                            </p>
                        </div>
                    </div>
                    <div class="d-flex bg-secondary-subtle rounded m-2 px-4 align-items-center">
                        <img alt="Gift Voucher Image" height="100"
                            src="https://storage.googleapis.com/a1aa/image/YCQEhLg8i0atLNdzFlpv8FivaJyeBf0UOhKA3c2jOcKpDp5TA.jpg"
                            width="150" />
                        <div class="border-start mx-3" style="height: 120px; border-width: 5px; border-color: blue;">
                        </div>
                        <div>
                            <p class="mb-1">
                                Voucher type: Gift Voucher
                            </p>
                            <p class="mb-1">
                                Discount: 50% off
                            </p>
                            <p class="mb-1">
                                Validity: Until December 2050
                            </p>
                            <p class="mb-1">
                                Application: Valid on all theaters
                            </p>
                        </div>
                    </div>
                    <div class="d-flex bg-secondary-subtle rounded m-2 px-4 align-items-center">
                        <img alt="Gift Voucher Image" height="100"
                            src="https://storage.googleapis.com/a1aa/image/YCQEhLg8i0atLNdzFlpv8FivaJyeBf0UOhKA3c2jOcKpDp5TA.jpg"
                            width="150" />
                        <div class="border-start mx-3" style="height: 120px; border-width: 5px; border-color: blue;">
                        </div>
                        <div>
                            <p class="mb-1">
                                Voucher type: Gift Voucher
                            </p>
                            <p class="mb-1">
                                Discount: 50% off
                            </p>
                            <p class="mb-1">
                                Validity: Until December 2050
                            </p>
                            <p class="mb-1">
                                Application: Valid on all theaters
                            </p>
                        </div>
                    </div>
                    <div class="d-flex bg-secondary-subtle rounded m-2 px-4 align-items-center">
                        <img alt="Gift Voucher Image" height="100"
                            src="https://storage.googleapis.com/a1aa/image/YCQEhLg8i0atLNdzFlpv8FivaJyeBf0UOhKA3c2jOcKpDp5TA.jpg"
                            width="150" />
                        <div class="border-start mx-3" style="height: 120px; border-width: 5px; border-color: blue;">
                        </div>
                        <div>
                            <p class="mb-1">
                                Voucher type: Gift Voucher
                            </p>
                            <p class="mb-1">
                                Discount: 50% off
                            </p>
                            <p class="mb-1">
                                Validity: Until December 2050
                            </p>
                            <p class="mb-1">
                                Application: Valid on all theaters
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6 events-section mb-5">
                <h3>
                    New Events
                </h3>
                <div class="scrollable">
                    <div class="event-item object-fit-cover" style="height: 200px;">
                        <img alt="Event Image 1"
                            src="https://iguov8nhvyobj.vcdn.cloud/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/o/n/onl_980x448_roliing.png"
                            style="width: 100%; height: 100%;" />
                    </div>
                    <div class="event-item object-fit-cover" style="height: 200px;">
                        <img alt="Event Image 2"
                            src="https://iguov8nhvyobj.vcdn.cloud/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/9/8/980x448_32_.jpg"
                            style="width: 100%; height: 100%;" />
                    </div>
                    <div class="event-item object-fit-cover" style="height: 200px;">
                        <img alt="Event Image 3"
                            src="https://iguov8nhvyobj.vcdn.cloud/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/w/k/wkd_gcpro_980x448_1_-min.jpg"
                            style="width: 100%; height: 100%;" />
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>