<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid ">
            <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="CineSeats logo"></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/movies">Movies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/about">About Us</a>
                    </li>
                </ul>
                <form id="search-form">
                    <div class="search-box">
                        <button type="submit" class="btn-search">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                        <input type="text" name="keyword" class="search-field" id="search-field"
                            placeholder="Search for movies">
                    </div>
                </form>
                <div class="hollow-item" style="margin-top: 60px;"></div>
            </div>

            {{!-- Authentication buttons --}}
            {{#if isAuthenticated}}
            {{#if isAdmin}}
            <a href="/admin/dashboard">
                <button class="nav-button" type="button">Admin</button>
            </a>
            {{/if}}
            <a href="/account/general">
                <button class="nav-button" type="button">Profile</button>
            </a>
            {{else}}
            <a href="/login">
                <button class="nav-button" type="submit">Sign In</button>
            </a>
            {{/if}}
        </div>
    </nav>
</header>