<div class="sidebar col-md-2">
    <h2 class="text-white text-center">CineSeats</h2>
    <a href="#">Dashboard</a>
    <a href="#" class="active">Account Management</a>
    <a href="#">Theater Manager</a>
    <a href="#">Movie Manager</a>
</div>